@font-face {
  font-family: Norse-Bold;
  src: url(/Norse-Bold.otf);
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
}

.body-container {
  background-color: #eee;
  max-height: 95vh;
  max-width: 100vw;
  display: flex;
}

.sidebar {
  position: relative;
  
}

.sidebar-img {
  max-height: 95vh;
  display: block;
}

.logo {
  position: absolute;
  top: 22%;
  left: 18%;
  width: 3rem;
  height: auto;
}

header {
  font-family: Norse-Bold, 'Times New Roman', Times, serif;
  font-size: 2rem;
  position: absolute;
  top: 20%;
  padding: 7% 20% 7% 20%;
  background-color: #000;
  color: white; 
  opacity: 0.5;
  width: 60%;
  text-align: center;
}

.attribution {
  position: absolute;
  top: 95%; 
  left: 15%;
  color: white;
}

.content-container {
  flex-basis: 66.6%;
  margin: 0 30px 0 30px;
}

form {
  display: flex;
  gap: 30px;
}

.input {
  display: flex;
  flex-direction: column;
}

