@font-face {
  font-family: Norse-Bold;
  src: url(/Norse-Bold.otf);
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  font-family: 'Norse-Bold', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.body-container {
  background-color: #eee;
  max-height: 95vh;
  max-width: 80vw;
  display: flex;
}

.sidebar {
  position: relative;
  
}

.sidebar-img {
  max-height: 95vh;
  display: block;
}

.logo {
  position: absolute;
  top: 22%;
  left: 18%;
  width: 3rem;
  height: auto;
}

header {
  font-family: Norse-Bold, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2rem;
  position: absolute;
  top: 20%;
  padding: 7% 20% 7% 20%;
  background-color: #000;
  color: white; 
  opacity: 0.5;
  width: 60%;
  text-align: center;
}

.attribution {
  font-size: .9rem;
  position: absolute;
  top: 95%; 
  left: 15%;
  color: #ccc;
}

form {
  display: flex;
  gap: 30px;
  background-color: white;
  box-shadow: 0px 4px 4px darkgray;
}

.input {
  display: flex;
  flex-direction: column;
}

input {
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:focus {
  border: 2px solid black;
}

input:invalid {
  border: 1.5px dotted red;
  border-radius: 3px;
}

.offset {
  margin: 20px 30px 20px 30px;
}

.form-right {
  margin: 20px 0 20px 0;
}

.submit {
  margin: 30px 30px 0 30px;
  padding: 8px 24px;
  font-size: 1.2rem;
  background-color: rgb(180, 130, 130);
  border: 0px solid black;
  border-radius: 4px;
  color: white;
  box-shadow: 2px 2px 4px rgb(155, 154, 154);
}

